@font-face {
    font-family: 'arialround';
    src: url('arialroundedmtbold.ttf');
  }

body {
    font-family: 'arialround';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

header {
    color: #6ac045;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'arial-round';
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.logo h1 {
    display: inline;
    color: #6ac045; /* Primary green color */
    font-family: 'arialround';
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
   
}

nav a {
    text-decoration: none;
    color: #6ac045;;
    transition: color 0.3s;
    font-family: 'arialround';
    
}

nav a:hover {
    color: #6ac045;
}

.hero {
    background-color: #f9f9f9;
    background-size: contain; 
    text-align: center;
    padding: 100px 20px;
    color: #333;
}

.hero-content h2 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

.hero-content p {
    font-size: 1.2em;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6ac045;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'arialround';
}

.cta:hover {
    background-color: #55a035;
}

.features, .values, .contact {
    padding: 60px 20px;
    text-align: center;
}

.features h2, .values h2, .contact h2 {
    margin-bottom: 40px;
    font-size: 2em;
}

.feature-list, .value-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feature-item, .value-item {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 40px;
}

.feature-item img {
    width: 100%;
    border-radius: 8px;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #6ac045;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'arialround';
}

button:hover {
    background-color: #55a035;
}

footer {
    background-color:#f9f9f9;
    color: #6ac045;
    text-align: center;
    padding: 10px 0;
    font-family: 'arialround';
}
#logo-header{
    margin-top: 10px;
    padding-left: 5vh;
    width: 50px;
    height: 50px;
}
#logo-header-text{
    margin-top: 10px;
    color: #6ac045;
    right: 200vh;
    padding-right: 100vh;
    padding-top: 2.5vh;
    font-size: 5vh;
    font-family: 'arialround';
}
